<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/public/javascripts/main-page.js"></script>
  <script src="/public/javascripts/adjust-temp.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var ampm = 'AM'
        if (h > 12) {
            h -= 12;
            ampm = 'PM'
        } else if (h === 0) {
          h = 12;
        }
        var m = today.getMinutes();
        m = checkTime(m);

        document.getElementById('time').innerHTML = h + ":" + m + " " + ampm;
        var t = setTimeout(startTime, 1000);

        var months = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];
        var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];
        var date = days[today.getDay()] + ', ' + months[today.getMonth()] + ' ' + today.getDate()
        document.getElementById("date").innerHTML = date;
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> <!-- include socket.io client side script -->
  <script>
    var socket = io(); //load socket.io-client and connect to the host that serves the page
    window.addEventListener("load", function(){ //when page loads
      var lightbox = document.getElementById("heat"); 
      lightbox.addEventListener("change", function() { //add event listener for when checkbox changes
        socket.emit("heat", Number(this.checked)); //send button status to server (as 1 or 0)
      });
    });
    socket.on('heat', function (data) { //get button status from client
      document.getElementById("heat").checked = data; //change checkbox according to push button on Raspberry Pi
      socket.emit("heat", data); //send push button status to back to server
    });
  </script>
</head>

<body onload="startTime()">
  <div id="screen">
      <% include ./partials/nav.ejs %>

      <div id="main-homepage">
        <div id="hvac-control">
          <p><input type="checkbox" id="heat" class="button hvac-button heat"></p>
          <button id="auto" class="button hvac-button auto" onclick="auto()"></button>
          <button id="ac" class="button hvac-button ac" onclick="ac()"></button>
        </div>
        <div id="temp-container">
          <p id="curr-temp">30&#730;</p>
          <div id="status-container">
            <p id="hvac-status-id">Status: </p>
            <p id="hvac-status">OFF</p>
          </div>
        </div>
        <div id="adjust-container">
          <div id="adjust-box">
            <div id="arrow-up" onclick="adjustTemp('up', 'desired-temp')"></div>
            <p id="desired-temp-label">SET TEMP</p>
            <p id="desired-temp">60&#730;</p>
            <div id="arrow-down"  onclick="adjustTemp('down', 'desired-temp')"></div>
            <button id="hold" class="button hold-btn" onclick="hold()">HOLD</button>
          </div>
        </div>
      </div>
  </div>
</body>
</html>