<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="FlashLED()">Click Me!</button>
	<script>
		function FlashLED() {
		if (LED.readSync() == 0) 
		{
			LED.writeSync(1);
		} else {
			LED.writeSync(0);
		}
		}
	</script?
	<button ">
  </body>
</html>
